In [1]:
import pandas_profiling

In [2]:
%matplotlib inline
from matplotlib import pyplot as plt

In [3]:
import pandas as pd
import json
import numpy as np

In [4]:
fname = '../data/southern-weather-discovery-classifications (4-9-18).csv'

In [5]:
# !open ../data/southern-weather-discovery-classifications\ \(4-9-18\).csv

In [6]:
# !open ../data/template_for_nico.csv

In [7]:
data = pd.read_csv(fname)

In [8]:
data.head()

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
0,100159211,petra123,1678246.0,8d201340abab32978061,6442,Cargo transport to the New World - pressure,13.16,2018-04-04 03:15:06 UTC,NaN,NaN,"{""session"":""d1189371c2205529858c5749e7704a78f5...","[{""task"":""T0"",""task_label"":""The image to the l...","{""20701155"":{""retired"":null,""image_name"":""MF91...",20701155
1,100159901,petra123,1678246.0,8d201340abab32978061,6442,Cargo transport to the New World - pressure,13.27,2018-04-04 03:20:45 UTC,NaN,NaN,"{""session"":""4619c5d2f392dd2971dfdc8f0ba852122f...","[{""task"":""T0"",""task_label"":""The image to the l...","{""20701153"":{""retired"":null,""image_name"":""MF91...",20701153
2,100160068,DrewDeepSouth,1726365.0,0ab8d5c710c466ddf552,6442,Cargo transport to the New World - pressure,13.27,2018-04-04 03:23:14 UTC,NaN,NaN,"{""session"":""5d5f1a6bef7c84bccea2f9688fb4414bf9...","[{""task"":""T0"",""task_label"":""The image to the l...","{""20701145"":{""retired"":null,""image_name"":""MF91...",20701145
3,100174099,DrewDeepSouth,1726365.0,aaf0e6f48f8f0455a670,6442,Cargo transport to the New World - pressure,13.27,2018-04-04 08:21:01 UTC,NaN,NaN,"{""session"":""d056527d339afd27bfa8bb028d7ee074ae...","[{""task"":""T0"",""task_label"":""The image to the l...","{""20701152"":{""retired"":null,""image_name"":""MF91...",20701152
4,100419757,petra123,1678246.0,8d201340abab32978061,6442,Cargo transport to the New World - pressure,13.34,2018-04-06 04:28:28 UTC,NaN,NaN,"{""session"":""be3407ffedbe2d96b2ce1863e9a08fa7b9...","[{""task"":""T0"",""task_label"":""The image to the l...","{""20701144"":{""retired"":null,""image_name"":""MF91...",20701144

In [9]:
subject_data = data.subject_data.values

In [10]:
annotations = data.annotations.values

In [11]:
len(annotations)

2681

### get the subject data, containing the image name and the area from where the data is coming from

In [12]:
len(subject_data)

2681

In [13]:
image_names_list = []
areas_list = []
annotations_list = []
retired_n_list = []
retired_bool_list = []
for i in range(len(subject_data)): 
    
    meta = json.loads(subject_data[i])
    
    retired = meta[list(meta.keys())[0]]['retired']
    
    if retired is not None: 
        retired_bool_list.append(1)
        retired_n_list.append(meta[list(meta.keys())[0]]['retired']['classifications_count'])
    else:
        retired_bool_list.append(0)
        retired_n_list.append(0)
    
    annotation = json.loads(annotations[i])
    
    if (annotation[0]['value'].upper() == 'YES'): 
        entered_data = []
        for j in range(1, len(annotation)): 
            entered_data.append(annotation[j]['value'])
        annotations_list.append(entered_data)
    else: 
        annotations_list.append([-9999.9])
        
    d = meta[list(meta.keys())[0]]
    
    image_name = d[list(d.keys())[1]]
    
    image_names_list.append(image_name)
    
    area = image_name.split('_')[-1].split('.')[0]
    
    areas_list.append(area)

In [14]:
retired_bool_list_df = pd.DataFrame(retired_bool_list, columns=['retired'])

In [15]:
retired_n_list_df = pd.DataFrame(retired_n_list, columns=['classifications_count'])

In [16]:
areas_df = pd.DataFrame(areas_list, columns=['area'])

In [17]:
image_names_df = pd.DataFrame(image_names_list, columns=['image_name'])

In [18]:
l_annotations = []
for ann in annotations_list: 
    l_annotations.append(len(ann))

In [19]:
def extend_list(l, n, pad=-9999.9):
    if len(l) >= n:
        return l[:n]
    return l + ([pad] * (n - len(l)))

In [20]:
annotations_list_padded = [] 
for l in annotations_list:
    annotations_list_padded.append(extend_list(l, 3))

In [21]:
annotations_list_padded_df = pd.DataFrame(annotations_list_padded)

In [22]:
annotations_list_padded_df

,0,1,2
0,989.7\n*\n*\n980.9,284\n*\n*\n282,992.3\n*\n*\n983.8
1,1013.7\n*\n*\n1009.3,284\n*\n*\n283,1016.2\n*\n*\n1012.0
2,"979.2,*,*,976.3","282,*,*,283","982.0,*,*,979.0"
3,"1011.9,*,*,1012.6","286,*,*,288","1013.8,*,*,1015.1"
4,*\n*\n*\n1017.0,"*,*,*,292","*,*,*,1017.3"
5,"42,42,45,49","44,46,46,48",-9999.9
6,1017.4\n1015.5\n1017.6\n1015.8,293\n293\n296\n295,1016.0\n1014.2\n1015.9\n1014.3
7,1017.3\n*\n*\n1008.4,294\n*\n*\n290,1017.4\n*\n*\n1009.3
8,30.02\n29.95\n30.03\n*,74\n73\n76\n*,29.89\n29.82\n29.90\n*
9,1017.7\n1015.8\n1018.3\n1017.6,298\n297\n299\n296,1014.7\n1013.3\n1015.7\n1015.4
10,1017.4\n1015.5\n1017.6\n1015.8,293\n293\n296\n295,1016.0\n1014.2\n1015.9\n1014.3
11,1016.2\n*\n*\n1017.9,294\n*\n*\n296,1015.1\n*\n*\n1016.5
12,1018.9\n1019.2\n1020.3\n1020.0,293\n292\n294\n293,1018.1\n1018.7\n1019.5\n1019.5
13,1019.2\n1017.8\n1020.2\n1021.9,290\n289\n291\n290,1019.8\n1018.6\n1020.9\n1022.6
14,*\n*\n1014.8\n*,*\n*\n301\n*,*\n*\n1011.2\n*
15,29.25\n*\n28.88\n29.13,59\n*\n51\n51,29.24\n*\n28.85\n29.01
16,54 11 S\n54 24 S\n54 37 S\n54 50 S,100 48 W\n98 27 W\n96 04 W\n93 39 W,-9999.9
17,53 55 S\n52 36 S\n51 18 S\n50 00 S,64 21 W\n63 15 W\n62 10 W\n61 04 W,-9999.9
18,*\n*\n81\n85,*\n*\n83\n84,-9999.9
19,56\n55\n68\n*,56\n53\n55\n*,-9999.9
20,-9999.9,-9999.9,-9999.9
21,"53,*,*,50",* * * *,-9999.9
22,54\n59\n59\n58,56\n56\n62\n64,-9999.9
23,-9999.9,-9999.9,-9999.9
24,30.35\n30.19\n30.15\n30.15,17\n68\n71\n77,30.27\n30.13\n30.05\n30.05
25,1015.0\n1014.3\n1016.5\n1014.8,301\n300\n303\n302,1011.6\n1010.0\n1012.9\n1011.4
26,23 50 S\n22 34 S\n21 24 S\n20 21 S,41 34 W\n40 48 W\n39 53 W\n39 15 W,-9999.9
27,"41,41,41,44","40,40,42,42",-9999.9
28,"75,73,78,76","78,75,72,71",-9999.9
29,"41,,,44","43,,,43",-9999.9
...,...,...,...
2651,1017.6 1018.3 1019.4 1018.2,1017.6 1018.3 1019.4 1018.2,294 295 295 297
2652,30.09 30.04 20.10 30.02,82 83 84 87,29.93 29.91 29.93 29.85
2653,1018.9 1019.2 1020.3 1020.0,293 292 294 293,1018.1 1018.7 1019.5 1019.5
2654,/ / 1016.1 /,/ / 300 /,/ / 1012.7 /
2655,977.9 977.8 979.2 978.6,2.1 1.7 1.4 1.5,980.0 979.5 980.6 980.1
2656,974.5 / / /,284 / / /,977.4 / / /
2657,1017.2 1017.5 1021.2 1020.6,292 292 289 290,1016.4 1016.7 1020.7 1020.1
2658,1004.4 1000.5 996.2 992.1,282 282 282 284,1006.8 1003.0 998.7 994.4
2659,/\n/\n51 16 S\n50 03 S,/\n/\n54 12 W\n55 56 W,-9999.9
2660,14.02\n15.32\n17.00\n18.39,26.10\n25.30\n25.00\n24.00,-9999.9
2661,16.16\n14.43\n13.17\n11.40,37.05\n31.28\n35.57\n35.24,-9999.9
2662,53.23\n53.36 S\n53.49 S\n54.58 S,110.19 W\n108.01 W\n105.44 W\n103.09 W,-9999.9
2663,* 1025.9 1027.8 1026.2,* 294 296 295,* 1024.9 1026.6 1025.2
2664,"1017,9 1017,8 1017,0 1017,8","-0,5 -0,8 +0,3 +0,3","1017,4 1017,0 1017,3 1018,1"
2665,"997,8 998,3 998,7 999,1","+0,6 +1,4 +1,7 +1,6","998,4 999,7 1000,4 1000,7"
2666,1011.9 * * 1012.6,286 * * 288,1013.8 * * 1015.1
2667,987.0 * * 978.0,290° * * 289°,989.0 * * 989.9
2668,1010.7 * * 1000.0,289° * * 289°,1012.0 * * 1001.5
2669,"1016,5 1014,9 1016,1 1015,7","-1,7 -1,6 -1,3 -1,2","1014,8 1013,3 1014,8 1014,4"
2670,* * 1021 1019,* * 300 304,* * 1017.5 1017.4
2671,30.02 29.95 30.03 *,74 73 76 *,29.89 29.82 29.90 *
2672,29.25 * 28.88 29.13,59 * 51 51,29.24 * 28.85 29.01
2673,975.3 * * 973.3,282 * * 282,978.3 * * 976.5
2674,978.2 979.4 979.2 982.2,"+0,6 +1,3 +2,8 +1,5","978,8 980,7 981,8 983,7"
2675,* * 1015.7 1015.5,* * 302° 302°,* * 1012.3 1011.9
2676,"992,3 984,4 987,3 988,8","-0,3 -0,4 -0,2 +0,3","992,0 984,0 987,1 989,1"
2677,* 1024.4 1024.4 1022.7,* 293 295 295,* 1024.2 1024 1022.4
2678,1016.3 1014.0 1016.1 1019.5,301 301 302 300,1012.9 1010.7 1012.6 1010.2
2679,* * 1025.3 1024.1,* * 292° 294°,* * 1025.4 1023.3
2680,30.18 30.23 30.32 30.33,64 60 61 63,30.19 30.21 30.28 30.29

In [23]:
all_concat = pd.concat([image_names_df, areas_df, retired_bool_list_df, retired_n_list_df, annotations_list_padded_df],axis=1)

In [24]:
all_concat.head()

,image_name,area,retired,classifications_count,0,1,2
0,MF911_39352_Port-Wyndham_IMG_6253_A9.jpg,A9,0,0,989.7\n*\n*\n980.9,284\n*\n*\n282,992.3\n*\n*\n983.8
1,MF911_39352_Port-Wyndham_IMG_6253_A7.jpg,A7,0,0,1013.7\n*\n*\n1009.3,284\n*\n*\n283,1016.2\n*\n*\n1012.0
2,MF911_39352_Port-Wyndham_IMG_6253_A10.jpg,A10,0,0,"979.2,*,*,976.3","282,*,*,283","982.0,*,*,979.0"
3,MF911_39352_Port-Wyndham_IMG_6253_A6.jpg,A6,0,0,"1011.9,*,*,1012.6","286,*,*,288","1013.8,*,*,1015.1"
4,MF911_39352_Port-Wyndham_IMG_6253_A1.jpg,A1,0,0,*\n*\n*\n1017.0,"*,*,*,292","*,*,*,1017.3"

In [25]:
all_concat.to_excel('../outputs/all_concat.xlsx')

In [26]:
# !open ../outputs/all_concat.xlsx

In [27]:
all_concat.head()

,image_name,area,retired,classifications_count,0,1,2
0,MF911_39352_Port-Wyndham_IMG_6253_A9.jpg,A9,0,0,989.7\n*\n*\n980.9,284\n*\n*\n282,992.3\n*\n*\n983.8
1,MF911_39352_Port-Wyndham_IMG_6253_A7.jpg,A7,0,0,1013.7\n*\n*\n1009.3,284\n*\n*\n283,1016.2\n*\n*\n1012.0
2,MF911_39352_Port-Wyndham_IMG_6253_A10.jpg,A10,0,0,"979.2,*,*,976.3","282,*,*,283","982.0,*,*,979.0"
3,MF911_39352_Port-Wyndham_IMG_6253_A6.jpg,A6,0,0,"1011.9,*,*,1012.6","286,*,*,288","1013.8,*,*,1015.1"
4,MF911_39352_Port-Wyndham_IMG_6253_A1.jpg,A1,0,0,*\n*\n*\n1017.0,"*,*,*,292","*,*,*,1017.3"

In [28]:
retired = all_concat.query("retired == 1")

In [29]:
retired.head()

,image_name,area,retired,classifications_count,0,1,2
12,MF911_37224_Karamea_IMG_0957_A8.jpg,A8,1,5,1018.9\n1019.2\n1020.3\n1020.0,293\n292\n294\n293,1018.1\n1018.7\n1019.5\n1019.5
16,MF911_37224_Karamea_IMG_0953_X11.jpg,X11,1,5,54 11 S\n54 24 S\n54 37 S\n54 50 S,100 48 W\n98 27 W\n96 04 W\n93 39 W,-9999.9
17,MF911_37224_Karamea_IMG_0955_X3.jpg,X3,1,5,53 55 S\n52 36 S\n51 18 S\n50 00 S,64 21 W\n63 15 W\n62 10 W\n61 04 W,-9999.9
39,MF911_37224_Karamea_IMG_0953_B8.jpg,B8,1,5,45\n44\n42\n42,44\n44\n43\n42,-9999.9
40,MF911_39080_Port-Gisborne_IMG_6249_B1.jpg,B1,1,5,/\n/\n44\n51,/\n/\n46\n46,-9999.9

### number of retired areas

In [30]:
len(retired.image_name.unique())

207

In [31]:
l = []
for image_name in retired.image_name.unique(): 
    l.append(retired.query("image_name == '{}'".format(image_name)))

In [32]:
retired_df = pd.concat(l, axis=0)

In [33]:
retired_df.query("classifications_count == 5").to_excel('../outputs/Southern_Discovery_retired_entries_classif_count_5.xlsx')

In [34]:
retired_df.query("classifications_count > 5").to_excel('../outputs/Southern_Discovery_retired_entries_classif_count_over_5.xlsx')

In [35]:
def parse_values(x): 
    """
    parse and convert ...
    """
    def convert(l): 
        try:
            z = float(l)
        except:
            z = -9999.9
        return z
    
    if x != -9999.9: 
        try:
            xar = x.split()
        except:
            xar = x.split(',')
        z = [convert(y) for y in xar]
        return z
    else: 
        return x

In [36]:
retired_df.loc[:,'P0'] = np.NaN
retired_df.loc[:,'P1'] = np.NaN
retired_df.loc[:,'P2'] = np.NaN
retired_df.loc[:,'P3'] = np.NaN

In [37]:
l = []
il = []
for i, row in retired_df.iterrows(): 
#     print(i)
    area = row.area
    P = row.loc[0]
    if 'X' in area: 
        pass
    else: 
        Pp = parse_values(P)
        if type(Pp) is not list: 
            Pp = [Pp]
        Pp = extend_list(Pp, 4)
        l.append(Pp)
        il.append(i)

In [38]:
for i in range(len(il)): 
    j = il[i]
    Pp = l[i]
    retired_df.loc[j,'P0'] = Pp[0]
    retired_df.loc[j,'P1'] = Pp[1]
    retired_df.loc[j,'P2'] = Pp[2]
    retired_df.loc[j,'P3'] = Pp[3]

In [39]:
retired_df

,image_name,area,retired,classifications_count,0,1,2,P0,P1,P2,P3
12,MF911_37224_Karamea_IMG_0957_A8.jpg,A8,1,5,1018.9\n1019.2\n1020.3\n1020.0,293\n292\n294\n293,1018.1\n1018.7\n1019.5\n1019.5,1018.90,1019.2,1020.30,1020.00
1008,MF911_37224_Karamea_IMG_0957_A8.jpg,A8,1,5,1018.9\n1019.2\n1020.3\n1020.0,293\n292\n294\n293\n,1018.1\n1018.7\n1019.5\n1019.5,1018.90,1019.2,1020.30,1020.00
1832,MF911_37224_Karamea_IMG_0957_A8.jpg,A8,1,5,1018.9\n1019.2\n1020.3\n1020.0,293\n292\n294\n293,1018.1\n1018.7\n1019.5\n1019.5,1018.90,1019.2,1020.30,1020.00
1883,MF911_37224_Karamea_IMG_0957_A8.jpg,A8,1,5,1018.9\n1019.2\n1020.3\n1020.0,293\n292\n294\n293,1018.1\n1018.7\n1019.5\n1019.5,1018.90,1019.2,1020.30,1020.00
2653,MF911_37224_Karamea_IMG_0957_A8.jpg,A8,1,5,1018.9 1019.2 1020.3 1020.0,293 292 294 293,1018.1 1018.7 1019.5 1019.5,1018.90,1019.2,1020.30,1020.00
16,MF911_37224_Karamea_IMG_0953_X11.jpg,X11,1,5,54 11 S\n54 24 S\n54 37 S\n54 50 S,100 48 W\n98 27 W\n96 04 W\n93 39 W,-9999.9,NaN,NaN,NaN,NaN
89,MF911_37224_Karamea_IMG_0953_X11.jpg,X11,1,5,54 11 s\n54 24 s\n54 37 s\n54 50 s,100 48 w\n98 27 w\n96 04 w\n93 39 w,-9999.9,NaN,NaN,NaN,NaN
1364,MF911_37224_Karamea_IMG_0953_X11.jpg,X11,1,5,54 11'S\n54 24'S\n54 37'S\n54 50'S,100 48'W\n98 27'W\n96 04'W\n93 39'W,-9999.9,NaN,NaN,NaN,NaN
1696,MF911_37224_Karamea_IMG_0953_X11.jpg,X11,1,5,54 11'S\n54 24'S\n54 37'S\n54 50'S,100 48'W\n93 27'W\n96 04'W\n93 39'W,-9999.9,NaN,NaN,NaN,NaN
1807,MF911_37224_Karamea_IMG_0953_X11.jpg,X11,1,5,54 11'S\n54 24'S\n54 37'S\n54 50'S,100 48'W\n98 27'W\n96 04'W\n93 39'W,-9999.9,NaN,NaN,NaN,NaN
17,MF911_37224_Karamea_IMG_0955_X3.jpg,X3,1,5,53 55 S\n52 36 S\n51 18 S\n50 00 S,64 21 W\n63 15 W\n62 10 W\n61 04 W,-9999.9,NaN,NaN,NaN,NaN
790,MF911_37224_Karamea_IMG_0955_X3.jpg,X3,1,5,"53 55'S, 52 36'S, 51 18'S, 50 00'S","64 21'W, 63 15'W, 62 10'W, 61 04' W",-9999.9,NaN,NaN,NaN,NaN
1038,MF911_37224_Karamea_IMG_0955_X3.jpg,X3,1,5,"53 55'S,52 36'S,51 18'S,50 00'S","64 21'W,63 15'W,62 10'W,61 04W",-9999.9,NaN,NaN,NaN,NaN
1426,MF911_37224_Karamea_IMG_0955_X3.jpg,X3,1,5,53 55'S\n52 36'S\n51 18'S\n50 00'S,64 21'W\n63 15'W\n62 10'W\n61 04'W,-9999.9,NaN,NaN,NaN,NaN
1945,MF911_37224_Karamea_IMG_0955_X3.jpg,X3,1,5,"53-553, 52-365,51-183,50-005","64-21w,63-15w,62-10w,61-04w",-9999.9,NaN,NaN,NaN,NaN
39,MF911_37224_Karamea_IMG_0953_B8.jpg,B8,1,5,45\n44\n42\n42,44\n44\n43\n42,-9999.9,45.00,44.0,42.00,42.00
486,MF911_37224_Karamea_IMG_0953_B8.jpg,B8,1,5,45 44 42 42,44 44 43 42,-9999.9,45.00,44.0,42.00,42.00
612,MF911_37224_Karamea_IMG_0953_B8.jpg,B8,1,5,45\n44\n42\n42,44\n44\n43\n42,-9999.9,45.00,44.0,42.00,42.00
876,MF911_37224_Karamea_IMG_0953_B8.jpg,B8,1,5,45 44 42 42,44 44 43 42,-9999.9,45.00,44.0,42.00,42.00
1013,MF911_37224_Karamea_IMG_0953_B8.jpg,B8,1,5,"45, 44, 42, 42","44, 44, 43, 42",-9999.9,-9999.90,-9999.9,-9999.90,42.00
40,MF911_39080_Port-Gisborne_IMG_6249_B1.jpg,B1,1,5,/\n/\n44\n51,/\n/\n46\n46,-9999.9,-9999.90,-9999.9,44.00,51.00
185,MF911_39080_Port-Gisborne_IMG_6249_B1.jpg,B1,1,5,/\n/\n44\n51,/\n/\n46\n46,-9999.9,-9999.90,-9999.9,44.00,51.00
384,MF911_39080_Port-Gisborne_IMG_6249_B1.jpg,B1,1,5,/\n/\n44\n51,/\n/\n46\n46,-9999.9,-9999.90,-9999.9,44.00,51.00
428,MF911_39080_Port-Gisborne_IMG_6249_B1.jpg,B1,1,5,/\n/\n44\n51,/\n/\n46\n46,-9999.9,-9999.90,-9999.9,44.00,51.00
527,MF911_39080_Port-Gisborne_IMG_6249_B1.jpg,B1,1,5,/\n/\n44\n51,/\n/\n46\n46,-9999.9,-9999.90,-9999.9,44.00,51.00
41,MF911_37224_Karamea_IMG_0953_B1.jpg,B1,1,5,/\n/\n48\n48,/\n/\n52\n52,-9999.9,-9999.90,-9999.9,48.00,48.00
390,MF911_37224_Karamea_IMG_0953_B1.jpg,B1,1,5,"*, *, 48, 48","*, *, 52, 52",-9999.9,-9999.90,-9999.9,-9999.90,48.00
497,MF911_37224_Karamea_IMG_0953_B1.jpg,B1,1,5,/ / 48 48,/ / 52 52,-9999.9,-9999.90,-9999.9,48.00,48.00
609,MF911_37224_Karamea_IMG_0953_B1.jpg,B1,1,5,/\n/\n48\n48,/\n/\n52\n52,-9999.9,-9999.90,-9999.9,48.00,48.00
817,MF911_37224_Karamea_IMG_0953_B1.jpg,B1,1,5,*-*-48 - 48,*-*- 52- 52,-9999.9,-9999.90,-9999.9,48.00,-9999.90
...,...,...,...,...,...,...,...,...,...,...,...
1275,MF911_39352_Port-Wyndham_IMG_6255_A5.jpg,A5,1,5,/\n/\n1011.1\n1011.8,/\n/\n298\n295,/\n/\n1010.9\n1010.8,-9999.90,-9999.9,1011.10,1011.80
1574,MF911_39352_Port-Wyndham_IMG_6255_A5.jpg,A5,1,5,"/,/,1011.1,1011.8","/,/,293,295","/,/,1010.9,1010.8",-9999.90,-9999.9,-9999.90,-9999.90
1756,MF911_39352_Port-Wyndham_IMG_6255_A5.jpg,A5,1,5,* * 1011.1 1011.8,* * 293 295,* * 1010.9 1010.8,-9999.90,-9999.9,1011.10,1011.80
1900,MF911_39352_Port-Wyndham_IMG_6255_A5.jpg,A5,1,5,"* * 1011,1 1011,8",* * 293 295,* * 1010.9 1010.8,-9999.90,-9999.9,-9999.90,-9999.90
2418,MF911_39352_Port-Wyndham_IMG_6255_A5.jpg,A5,1,5,* * 1011.1 1011.8,* * 1011.1 1011.8,* * 293 295,-9999.90,-9999.9,1011.10,1011.80
1304,ML911_2149_Thule_IMG_6961_A3.jpg,A3,1,5,968.5 968.2 968.7 969.5,1.8 1.8 1.5 1.4,970.3 970.0 970.2 970.9,968.50,968.2,968.70,969.50
1990,ML911_2149_Thule_IMG_6961_A3.jpg,A3,1,5,"968.5, 968.2, 968.7, 959.5","+1.8, +1.8, +1.5, +1.4","970.3, 970.0, 970.2, 970.9",-9999.90,-9999.9,-9999.90,959.50
2067,ML911_2149_Thule_IMG_6961_A3.jpg,A3,1,5,968.5\n968.2\n968.7\n969.5,+1.8\n+1.8\n+1.5\n+1.4,970.3\n970.0\n970.2\n970.9,968.50,968.2,968.70,969.50
2615,ML911_2149_Thule_IMG_6961_A3.jpg,A3,1,5,"968,5 968,2 968,7 969,5","+1,8 +1,8 +1,5 +1,4","970,3 970,0 970,2 970,9",-9999.90,-9999.9,-9999.90,-9999.90
2629,ML911_2149_Thule_IMG_6961_A3.jpg,A3,1,5,968.5 968.2 968.7 969.5,1.8 1.8 1.5 1.4,970.3 970.0 970.2 970.9,968.50,968.2,968.70,969.50
1308,MF911_39566_Waipawa_IMG_6053_A8.jpg,A8,1,5,* * 1018 1014.6,* * 303 301,* * 1014 1010.9,-9999.90,-9999.9,1018.00,1014.60
1664,MF911_39566_Waipawa_IMG_6053_A8.jpg,A8,1,5,/ / 1018 1014.6,/ / 303 301,/ / 1014 1010.9,-9999.90,-9999.9,1018.00,1014.60
1824,MF911_39566_Waipawa_IMG_6053_A8.jpg,A8,1,5,/ / 1018 1014.6,/ / 303 301,/ / 1014 1010.9,-9999.90,-9999.9,1018.00,1014.60
2365,MF911_39566_Waipawa_IMG_6053_A8.jpg,A8,1,5,/\n/\n1018\n1014.6,/\n/\n303\n301,/\n/\n1014\n1010.9,-9999.90,-9999.9,1018.00,1014.60
2460,MF911_39566_Waipawa_IMG_6053_A8.jpg,A8,1,5,/ / 1018 1014.6,/ / 303 301,/ / 1014 1010.9,-9999.90,-9999.9,1018.00,1014.60
1346,MF911_39566_Durham_IMG_6284_A5.jpg,A5,1,5,29.25 - * - 28.88 - 29.13,59 - * - 51 - 51,29.24 - * - 28.85 - 29.01,29.25,-9999.9,-9999.90,-9999.90
1418,MF911_39566_Durham_IMG_6284_A5.jpg,A5,1,5,-9999.9,-9999.9,-9999.9,-9999.90,-9999.9,-9999.90,-9999.90
1626,MF911_39566_Durham_IMG_6284_A5.jpg,A5,1,5,29.25 / 28.88 29.13,59 / 51 51,29.24 / 28.85 29.01,29.25,-9999.9,28.88,29.13
2478,MF911_39566_Durham_IMG_6284_A5.jpg,A5,1,5,29.25 / 28.88 29.13,59 / 51 51,29.24 / 28.85 29.01,29.25,-9999.9,28.88,29.13
2544,MF911_39566_Durham_IMG_6284_A5.jpg,A5,1,5,29.25 / 28.88 29.13,59 / 51 51,29.24 / 28.85 29.01,29.25,-9999.9,28.88,29.13
1428,MF911_37224_Karamea_IMG_0955_X5.jpg,X5,1,5,43 42'S\n42 28'S\n41 14'S\n39 55'S \n,55 54'W\n54 53'W\n53 54'W\n53 00'W,-9999.9,NaN,NaN,NaN,NaN
1690,MF911_37224_Karamea_IMG_0955_X5.jpg,X5,1,5,43 42'S\n42 28'S\n41 14'S\n39 55'S,55 54'W\n54 53'W\n53 54'W\n53 00'W,-9999.9,NaN,NaN,NaN,NaN
1818,MF911_37224_Karamea_IMG_0955_X5.jpg,X5,1,5,43 42'S\n42 28'S\n41 14's\n39 55'S,55 54'W\n54 53'W\n53 53'W\n53 00'W,-9999.9,NaN,NaN,NaN,NaN
1860,MF911_37224_Karamea_IMG_0955_X5.jpg,X5,1,5,,43 42S,-9999.9,NaN,NaN,NaN,NaN
1912,MF911_37224_Karamea_IMG_0955_X5.jpg,X5,1,5,43 42'S\n42 28'S\n41 14'S\n39 55'S,55 54'W\n54 52'W\n53 54'W\n53 00'W,-9999.9,NaN,NaN,NaN,NaN
1801,MF911_39352_Port-Wyndham_IMG_6257_A6.jpg,A6,1,5,/\n/\n1021.7\n/,/\n/\n299\n/,/\n/\n1020.8\n/,-9999.90,-9999.9,1021.70,-9999.90
1830,MF911_39352_Port-Wyndham_IMG_6257_A6.jpg,A6,1,5,/\n/\n1021.7\n/,/\n/\n299\n/,/\n/\n1020.8\n/,-9999.90,-9999.9,1021.70,-9999.90
1906,MF911_39352_Port-Wyndham_IMG_6257_A6.jpg,A6,1,5,1021.7\n,299,1020.8,1021.70,-9999.9,-9999.90,-9999.90
2369,MF911_39352_Port-Wyndham_IMG_6257_A6.jpg,A6,1,5,/\n/\n1021.7\n/,/\n/\n299\n/,/\n/\n1020.8\n/,-9999.90,-9999.9,1021.70,-9999.90
2608,MF911_39352_Port-Wyndham_IMG_6257_A6.jpg,A6,1,5,* * 1021.7 *,* * 299 *,* * 1020.8 *,-9999.90,-9999.9,1021.70,-9999.90

In [42]:
retired_df.to_excel('../outputs/retired_df.xlsx')

In [44]:
!open ../outputs/retired_df.xlsx

In [40]:
profile = pandas_profiling.ProfileReport(data)
profile.to_file(outputfile="../outputs/data_profile.html")

In [41]:
!open ../outputs/data_profile.html